.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
}

.card {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
}