.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 5px;
}

.card {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    padding: 8px;
}

#add_book {
    background-color: rgb(106, 162, 83);
    color: white;
    border-radius: 25px;
}

#popup {
    display: none;
}

#remove {
    background-color: red;
}

#remove, #readStatus {
    border-radius: 25px;
    padding: 5px;
    color: white
}

#readStatus {
    background-color: rgb(106, 162, 83);
}